body{
  background-color: white;
  color: black;
  font-size: 16px;
  font-family:'Times New Roman', Times, serif;
}

header #pattern{
  height: 140px;
  width: 100%;
  background-color:rgb(78, 161, 255);
  background-image: url(pattern.png);
  background-size: 60px;
}

header #pattern img{
  height: 30px;
}

header .logo{
  height: 60px;
}

head
}

h1{
  font-size: 4rem
}


.primary-text{
  color: grey
  ;
  font-size: 1.5rem;
}

.primary-text span{
  color:rgb(163, 232, 255);

}

span{
  background-color: yellow;
}

.didascalia {
  font-size: 0.8rem;
}

.secondary-text span {
  text-decoration: dotted;
  text-decoration-color: yellow;

}

.elenco {
  text-align: left
}

.th {
  background-color: blue

}

.finale{
color: grey;
font-size: 1.5rem
}

.lorem{
  background-image: url(monitor.jpg);
}